<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaulutHref="/viajes-p"></ion-back-button>
    </ion-buttons>
    <ion-title>Mis viajes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">misviajes</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-content>
    <ion-card>
      
      <ion-card-header>
        <ion-card-title></ion-card-title>
       
      </ion-card-header>
    
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-avatar slot="start">
              <ion-img src="https://t3.ftcdn.net/jpg/05/25/22/64/360_F_525226448_tMAcFbGCTq17YQp0Jfmn8d54IBkEuNbs.jpg"></ion-img>
            </ion-avatar>
            <ion-label>viaje 1</ion-label>
            <ion-button fill="outline" color="warning">
              <ion-icon  name="arrow-forward-outline"></ion-icon>
            </ion-button>
          </ion-item>
        
          <ion-item>
            <ion-avatar slot="start">
              <ion-img src="https://t3.ftcdn.net/jpg/05/25/22/64/360_F_525226448_tMAcFbGCTq17YQp0Jfmn8d54IBkEuNbs.jpg"></ion-img>
            </ion-avatar>
            <ion-label>viaje 2</ion-label>
            <ion-button fill="outline" color="warning">
              <ion-icon   name="arrow-forward-outline"></ion-icon>
            </ion-button>
          </ion-item>
        
          <ion-item>
            <ion-avatar slot="start">
              <ion-img src="https://t3.ftcdn.net/jpg/05/25/22/64/360_F_525226448_tMAcFbGCTq17YQp0Jfmn8d54IBkEuNbs.jpg"></ion-img>
            </ion-avatar>
            <ion-label>viaje 3</ion-label>
            <ion-button fill="outline" color="warning">
              <ion-icon  name="arrow-forward-outline"></ion-icon>
            </ion-button>
          </ion-item>
        
          <ion-item>
            <ion-avatar slot="start">
              <ion-img src="https://t3.ftcdn.net/jpg/05/25/22/64/360_F_525226448_tMAcFbGCTq17YQp0Jfmn8d54IBkEuNbs.jpg"></ion-img>
            </ion-avatar>
            <ion-label>viaje 4</ion-label>
            <ion-button fill="outline" color="warning">
              <ion-icon   name="arrow-forward-outline"></ion-icon>
            </ion-button>
          </ion-item>
        
          <ion-item>
            <ion-avatar slot="start">
              <ion-img src="https://t3.ftcdn.net/jpg/05/25/22/64/360_F_525226448_tMAcFbGCTq17YQp0Jfmn8d54IBkEuNbs.jpg"></ion-img>
            </ion-avatar>
            <ion-label>viaje 5</ion-label>
            <ion-button fill="outline" color="warning">
              <ion-icon name="arrow-forward-outline"></ion-icon>
            </ion-button>
          </ion-item>
        
        </ion-list>
      </ion-card-content>      
    </ion-card>
</ion-content>
