<ion-header>
  <ion-toolbar>
    <ion-title>Mis Viajes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let viaje of misViajes">
      <ion-label>
        <h2>{{ viaje.origen }} - {{ viaje.destino }}</h2>
        <p>Fecha: {{ viaje.fecha }}</p>
      </ion-label>
      <ion-button (click)="mensajedelete(viaje.id)" fill="clear" color="danger">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
