<!-- misviajes.page.html -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mis Viajes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="misViajes.length > 0; else noViajes">
    <ion-item *ngFor="let viaje of misViajes">
      <ion-thumbnail slot="start">
        <!-- Puedes agregar una imagen relacionada con el viaje aquí -->
        <img [src]="viaje.imagenUrl" alt="Imagen del viaje">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ viaje.nombre }}</h2>
        <p>Fecha: {{ viaje.fecha }}</p>
        <p>Hora: {{ viaje.hora }}</p>
        <!-- Agrega otros detalles del viaje según tu modelo de datos -->
      </ion-label>
      <ion-button color="danger" (click)="mensajedelete(viaje.id)">Eliminar</ion-button>
    </ion-item>
  </ion-list>

  <ng-template #noViajes>
    <ion-text>No hay viajes disponibles.</ion-text>
  </ng-template>
</ion-content>
