<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
  
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Nombre:</ion-label>

          <p>{{ swapiData.name }}</p>
        </ion-item>

        <ion-item>
          <ion-label>Altura:</ion-label>

          <p>{{ swapiData.height }}</p>
        </ion-item>

        <ion-item>
          <ion-label>Peso:</ion-label>

          <p>{{ swapiData.mass }}</p>
        </ion-item>

        <ion-item>
          <ion-label>Género:</ion-label>

          <p>{{ swapiData.gender }}</p>
        </ion-item>

        <ion-item>
          <ion-label>Planeta de origen:</ion-label>

          <p>{{ swapiData.homeworld }}</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
