
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img class="centrado" src="https://img.freepik.com/premium-vector/account-icon-user-icon-vector-graphics_292645-552.jpg?w=2000" alt="">

    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          
          <ion-label>Nombre:</ion-label>
          <ion-icon style="width: 10%;" name="pencil"></ion-icon>
        </ion-item>
 
        <ion-item>
          
          <ion-label>Apellido:</ion-label>
          <ion-icon style="width: 10%;" name="pencil"></ion-icon>
        </ion-item>
  
        <ion-item>
          
          <ion-label>Correo:</ion-label>
          <ion-icon style="width: 10%;" name="pencil"></ion-icon>
        </ion-item>
  
        <ion-item lines="none">
          
          <ion-label>Viajes:</ion-label>
          <ion-icon style="width: 10%;" name="pencil"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
