<ion-header [translucent]="true">
  <ion-toolbar>   
   <ion-buttons slot="start">
    <ion-back-button defaulutHref="/login"></ion-back-button>
  </ion-buttons>
    <ion-title style="text-align: center;">Datos del conductor</ion-title>
  </ion-toolbar>
  <ion-card>
    <ion-card-header>
      <ion-card-title style="text-align: center;" >Ingresa tus datos de conductor</ion-card-title>
    </ion-card-header>
  
    <ion-card-content >
      <ion-list>
  
        <ion-item>
          <ion-input color="warning" type="email" label="Rut" labelPlacement="floating" placeholder="Ingresar Email"
          errorText="Invalid email"
          ngModel
          email
          ></ion-input>
          
        </ion-item>
        <ion-item>
          <ion-input type="email" label="Usuario" labelPlacement="floating" placeholder="Ingresar usuario"
          errorText="Invalid email"
          ngModel
          email
          ></ion-input>
          
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item>
          <ion-input type="password"  label="Licencia" labelPlacement="floating" placeholder="Ingresar nro de licencia"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="password"  label="Patente" labelPlacement="floating" placeholder="Ingresar patente"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="password"  label="Comuna" labelPlacement="floating" placeholder="Ingresar comuna"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="password"  label="Direccion" labelPlacement="floating" placeholder="Ingresar direccion"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="password"  label="Contraseña" labelPlacement="floating" placeholder="Ingresar contraseña"></ion-input>
        </ion-item>
        <ion-button color="warning" shape="round" fill="outline" expand="block" [routerLink]="['/viajes-c']">Ingresar</ion-button>
                 <ion-item>

        </ion-item>
      </ion-list>
  
    </ion-card-content>
  </ion-card>
</ion-header>


