<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaulutHref="/viajes-c"></ion-back-button>
    </ion-buttons>
    <ion-title>Seguimiento</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
    <ion-card>
      
      <ion-card-header>
        <ion-img class="imgmapa" src="https://www.google.com/maps/d/thumbnail?mid=1EwsG3eLU6gk_NxsfCq66NLnOuys&hl=es"></ion-img>
      </ion-card-header>
    
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-avatar slot="start">
              <ion-img src="https://t3.ftcdn.net/jpg/05/25/22/64/360_F_525226448_tMAcFbGCTq17YQp0Jfmn8d54IBkEuNbs.jpg"></ion-img>
            </ion-avatar>
            <ion-card-title></ion-card-title>
            <ion-label>viaje 1</ion-label>
            <ion-card-header>
              <ion-card-title>Viaje 1</ion-card-title>
              <ion-card-subtitle>Concuctor: Ruben tuesta</ion-card-subtitle>
            </ion-card-header>
            <ion-button fill="outline" color="warning">
              <ion-icon  name="arrow-forward-outline"></ion-icon>
            </ion-button>
          </ion-item>    
        </ion-list>
      </ion-card-content>      
    </ion-card>



</ion-content>