<ion-header>
  <ion-toolbar>
    <ion-title>
      Lista de Viajes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let viaje of viajes; let i = index">
      <ion-label>
        <h2>Viaje {{ i + 1 }}</h2>
        <p>Fecha: {{ viaje.fecha }}</p>
        <p>Hora: {{ viaje.hora }}</p>
      </ion-label>
      <ion-radio slot="start" [value]="viaje.id" (ionSelect)="selectViaje($event, viaje.id)"></ion-radio>
    </ion-item>
  </ion-list>

  <ion-button class="centrado2" color="warning" expand="full" (click)="mensajec()">Tomar Viaje</ion-button>
</ion-content>