<ion-header>
  <ion-toolbar>
    <ion-title>
     Viajes Disponibles
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-radio-group [(ngModel)]="viajeSeleccionado">
      <ion-item *ngFor="let viaje of viajes">
        <ion-label>
          <!-- Muestra la información detallada del viaje -->
          <h2>{{ viaje.fecha }}</h2>
          <p>Hora: {{ viaje.hora }}</p>
          <p>Origen: {{ viaje.origen }}</p>
          <p>Destino: {{ viaje.destino }}</p>
        </ion-label>
        <ion-radio slot="start" [value]="viaje.id"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-button expand="full" (click)="tomarViaje()">Tomar Viaje</ion-button>
</ion-content>
