<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/viajes"></ion-back-button>
    </ion-buttons>
    <ion-title>{{"detalle"|translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-item>
  <ion-label>{{"selecciona"|translate}}</ion-label>
  <ion-select [(ngModel)]="idioma" (ionChange)="changeLangs($event)">
  <ion-select-option *ngFor="let lang of langs" >{{lang}}</ion-select-option>
</ion-select>
</ion-item>
<ion-content>
  <ion-card *ngIf="viaje">
    <img style="height: 35%; padding-left: 10%;" [src]="viaje?.imagen" />
    <ion-card-header>
      <ion-card-title>{{ viaje?.nombre }}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-card-subtitle>{{"Comuna"|translate}}</ion-card-subtitle>
      <ion-card-subtitle>{{"Fecha"|translate}}</ion-card-subtitle>
      <ion-card-subtitle>{{"Hora"|translate}}</ion-card-subtitle>
      <ion-card-subtitle>{{"Disponible"|translate}}</ion-card-subtitle>
    </ion-card-content>

    <ion-button [routerLink]="['/tomarviaje']" id="present-alert" class="botonviajar" color="warning" fill="outline">
      <ion-icon slot="end" name="car"></ion-icon>Viajar
    </ion-button>
  </ion-card>
</ion-content>
