
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center;">{{"inicio"|translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

  
  <img  style="height: 25%; padding-left: 25%;" src="../../../assets/icon/TellevoApppngblanco.png" >
  <ion-item>
    <ion-label>{{"selecciona"|translate}}</ion-label>
    <ion-select [(ngModel)]="idioma" (ionChange)="changeLangs($event)">
    <ion-select-option *ngFor="let lang of langs" >{{lang}}</ion-select-option>
  </ion-select>
  </ion-item>
  <ion-card >
    <ion-list >
      <ion-item [routerLink]="['/misviajes']">
        <ion-avatar slot="start">
          <ion-img src="https://static.vecteezy.com/system/resources/thumbnails/003/694/243/small/car-icon-in-flat-style-simple-traffic-icon-free-vector.jpg"></ion-img>
        </ion-avatar>
        <ion-label>{{"misviajes"|translate}}</ion-label>
      </ion-item>
      
    </ion-list>
  </ion-card>
  <ion-card >
    <ion-list >
      <ion-item [routerLink]="['/escanearqr']">
        <ion-avatar slot="start">
          <ion-img src="https://static.vecteezy.com/system/resources/thumbnails/003/694/243/small/car-icon-in-flat-style-simple-traffic-icon-free-vector.jpg"></ion-img>
        </ion-avatar>
        <ion-label>{{"eqr"|translate}}</ion-label>
      </ion-item>
      
    </ion-list>
  </ion-card>
    <ion-card >
      
      <ion-card-header>
        <img src="../../../assets/icon/tomatuviajeL.gif" >
        <ion-card-title></ion-card-title>
       
      </ion-card-header>
    
      <ion-card-content>

      </ion-card-content>
    
      <ion-button [routerLink]="['/viajes']" fill="clear" class="centrado" color="warning">{{"dispo"|translate}}</ion-button>
      
    </ion-card>

  
</ion-content>

