<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ "eqr" | translate }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container" style="display: flex; flex-direction: column; align-items: center; padding: 20px;">
    <ion-button color="warning" (click)="takePicture()">
      {{ "eqr" | translate }} si
    </ion-button>

    <ion-img *ngIf="imageSource" [src]="imageSource" style="margin-top: 20px;"></ion-img>
  </div>
</ion-content>
