<ion-header>
  <ion-toolbar>
    <ion-title>
      Escanear QR
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Agrega un botón para iniciar el escaneo -->
  <video *ngIf="scanActive" #video id="video" width="100%" height="auto" autoplay playsinline></video>

  <!-- Botón para detener el escaneo -->
  <ion-button expand="full" (click)="stopScan()" *ngIf="scanActive">
    Detener Escaneo
  </ion-button>

  <!-- Agregar un botón para reiniciar el escaneo -->
  <ion-button expand="full" (click)="startScan()" *ngIf="!scanActive">
    Iniciar Escaneo
  </ion-button>

  <!-- Muestra el resultado del escaneo -->
  <ion-item *ngIf="scanResult">
    <ion-label>Conductor:</ion-label>
    <ion-text>{{ scanResult }}</ion-text>
  </ion-item>

  <!-- Agrega el elemento de video para mostrar la cámara -->
  <video #video id="video" width="100%" height="auto" autoplay playsinline></video>

  <!-- Agrega el elemento de lienzo para dibujar el contenido de la cámara -->
  <canvas #canvas id="canvas" width="100%" height="auto"></canvas>
</ion-content>
