<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaulutHref="/viajes-c"></ion-back-button>
    </ion-buttons>
    <ion-title>Elimina tus viajes</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
    <ion-card>
      
      <ion-card-header>
        <img src="../../../../assets/icon/eliminar.gif" >
        <ion-card-title></ion-card-title>
       
      </ion-card-header>
    
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-avatar slot="start">
              <ion-img src="https://i.pinimg.com/236x/67/e4/7b/67e47b8e7052f0449c5d725282deee78.jpg"></ion-img>
            </ion-avatar>
            <ion-label>viaje 1</ion-label>
            <ion-button fill="outline" color="danger">
              <ion-icon (click)="deleteViaje()"  name="trash-outline"></ion-icon>
            </ion-button>
          </ion-item>
        
          <ion-item>
            <ion-avatar slot="start">
              <ion-img src="https://i.pinimg.com/236x/67/e4/7b/67e47b8e7052f0449c5d725282deee78.jpg"></ion-img>
            </ion-avatar>
            <ion-label>viaje 2</ion-label>
            <ion-button fill="outline" color="danger">
              <ion-icon (click)="deleteViaje()"  name="trash-outline"></ion-icon>
            </ion-button>
          </ion-item>
        
          <ion-item>
            <ion-avatar slot="start">
              <ion-img src="https://i.pinimg.com/236x/67/e4/7b/67e47b8e7052f0449c5d725282deee78.jpg"></ion-img>
            </ion-avatar>
            <ion-label>viaje 3</ion-label>
            <ion-button fill="outline" color="danger">
              <ion-icon (click)="deleteViaje()"  name="trash-outline"></ion-icon>
            </ion-button>
          </ion-item>
        
          <ion-item>
            <ion-avatar slot="start">
              <ion-img src="https://i.pinimg.com/236x/67/e4/7b/67e47b8e7052f0449c5d725282deee78.jpg"></ion-img>
            </ion-avatar>
            <ion-label>viaje 4</ion-label>
            <ion-button fill="outline" color="danger">
              <ion-icon (click)="deleteViaje()"  name="trash-outline"></ion-icon>
            </ion-button>
          </ion-item>
        
          <ion-item>
            <ion-avatar slot="start">
              <ion-img src="https://i.pinimg.com/236x/67/e4/7b/67e47b8e7052f0449c5d725282deee78.jpg"></ion-img>
            </ion-avatar>
            <ion-label>viaje 5</ion-label>
            <ion-button fill="outline" color="danger">
              <ion-icon (click)="deleteViaje()"  name="trash-outline"></ion-icon>
            </ion-button>
          </ion-item>
        
        </ion-list>
      </ion-card-content>      
    </ion-card>



</ion-content>