

<ion-header>
  <ion-toolbar>
    <ion-title>{{"terminos"|translate}}</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content class="texto-largo-container">
  <ion-item>
    <ion-label>{{"selecciona"|translate}}</ion-label>
    <ion-select [(ngModel)]="idioma" (ionChange)="changeLanguage($event)">
    <ion-select-option *ngFor="let lang of langs" >{{lang}}</ion-select-option>
  </ion-select>
  </ion-item>
  
  <h5 class="texto-largo">{{"terminos1"|translate}}</h5>
  <h5 class="texto-largo">{{"terminos2"|translate}}</h5>
  <h5 class="texto-largo">{{"terminos3"|translate}}</h5>
  <h5 class="texto-largo">{{"terminos4"|translate}}</h5>
  <h5 class="texto-largo">{{"terminos5"|translate}}</h5>
  <h5 class="texto-largo">{{"terminos6"|translate}}</h5>
  <h5 class="texto-largo">{{"terminos7"|translate}}</h5>
  <h5 class="texto-largo">{{"terminos8"|translate}}</h5>
  <h5 class="texto-largo">{{"terminos9"|translate}}</h5>
  <h5 class="texto-largo">{{"terminos10"|translate}}</h5>
  <p>{{"gracias"|translate}}</p>

<ion-item>
  <ion-checkbox (ionChange)="onCheckboxChange()" justify="end">{{"lei"|translate}}</ion-checkbox>
</ion-item>

<ion-button (click)="aceptarTerminos()" class="centrado2" color="warning" [disabled]="!terminosAceptados">{{"ingresar"|translate}}</ion-button>
</ion-content>
