/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import url("https://unpkg.com/leaflet@1.9.4/dist/leaflet.css");

.centrado {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
    width: 100vw;
}
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Esto centra verticalmente la imagen */
  }
  
  /* Estilo para la imagen */
  .image {
    
    width: 250px; /* Ancho de la imagen de 250px */
    height: auto; /* Esto mantiene la relación de aspecto original */
  }
  .leaflet-routing-container {
   // display: none;
    color: black;
    max-height: 75px; /* Ajusta el tamaño máximo según tus necesidades */
    overflow-y: auto;  /* Agrega una barra de desplazamiento vertical si es necesario */
    position: absolute;
    top: 300px;  /* Ajusta la distancia desde la parte superior del mapa */
    right: 10px;  /* Ajusta la distancia desde la derecha del mapa */
    background-color: white;  /* Establece el fondo de las instrucciones */
    padding: 10px;  /* Añade espacio en blanco alrededor de las instrucciones */
    border: 1px solid #ccc;  /* Agrega un borde al contenedor de instrucciones */
    border-radius: 10px;  /* Hace que los bordes sean más rectangulares */
    z-index: 1000;  /* Asegura que las instrucciones estén en la parte superior del mapa */
    width: 280px;
    
  }