<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="['/apihome']"></ion-back-button>
    </ion-buttons>
    <ion-title>Lista de Usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="full" (click)="generarUsuarios()">Generar 20 Usuarios</ion-button>
  <ion-list *ngIf="users.length > 0">
    <ion-item *ngFor="let user of users">
      <ion-avatar slot="start">
        <img [src]="user.picture.thumbnail" alt="User Thumbnail">
      </ion-avatar>
      <ion-label>
        <h2>{{ user.name.first }} {{ user.name.last }}</h2>
        <p>{{ user.email }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-note *ngIf="users.length === 0">Presiona el botón para generar usuarios.</ion-note>
</ion-content>
