

<ion-header [translucent]="true">
  
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaulutHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center;">Busca destino</ion-title>
  </ion-toolbar>
</ion-header>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<div id="map" style="height: 400px;"></div>

  
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Dirección de inicio</ion-label>
      <ion-input [(ngModel)]="direccionInicio"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Dirección de destino (DUOC UC) </ion-label>
      <ion-input [(ngModel)]="direccionDestino" value="-33.59841678103484, -70.57914610490046" readonly></ion-input>
    </ion-item>

  <ion-button style="width: 150px;" (click)="generarRuta()">Generar Ruta</ion-button><ion-button color="success" style="width: 150px;"(click)="mensajep()" (click)="generarRuta()">Aceptar</ion-button>


